
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.cursor-pointer{
	cursor: pointer;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#sidebar{
	a{
		padding: 1rem;
	}
}

#tabs{

	a{
		/*margin-right: 1rem;*/
		padding: 1rem 2rem;
		border-bottom: 2px solid transparent;
		color: #a2a2a2;

		i{
			margin-right: 0.2rem;
		}

		&.active{
			color: #007bff;
			border-bottom: 2px solid #007bff;
		}
		
		&.active:hover{
			color: #007bff;
			border-bottom: 2px solid #007bff;
			text-decoration: none;
		}

		&:hover{
			text-decoration: none;
			color: #a2a2a2;
			border-bottom: 2px solid #a2a2a2;
		}
	}
}

.avatar {
	background-color: #edebe1;
	border-radius: 100%;
	height: 216px;
	width: 216px;
	padding: 8px 50px 8px 0;
	&.active {
		border-radius: 100% 0 20px 100%;
		background-color: $red;
	}
	img {
		border-radius: 100%;
		width: 200px;
		margin-left:8px;
	}
	.uploadOverlay, .uploadCompleteOverlay {
		background-color: rgba(204, 1, 1,0.8);
		@include transition(all 150ms ease);
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 100%;
		position: absolute;
		height: 200px;
		width: 200px;
		left: 8px;
		top: 0;
		opacity: 0;
		i {
			vertical-align: bottom;
			display:inline-block;
			line-height: 200px;
			text-align: center;
			font-size: 40px;
			height: 200px;
			width: 200px;
			color:white;
		}
	}
	&:hover .uploadOverlay {
		/*@include transition(all 150ms ease);*/
		opacity: 1;
		top: 8px;
	}
	.uploadCompleteOverlay {
		background-color: rgba(104, 174, 0, 0.9);
		opacity: 1;
		top: 8px;
	}
	.processingOverlay {
		background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/20625/loading2.gif');
		background-color: rgba(204, 1, 1,0.8);
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 100%;
		position: absolute;
		height: 200px;
		width: 200px;
		left: 8px;
		top: 8px;
	}
}